<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FBLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0CF5C5F1E7A951700F738BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0CF5C781E7A951700F738BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0CF5C831E7A951700F738BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
